.project__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    
    div {
        max-width: 860px;
    }
    h2 {
        font-size: 64px;
        font-family: var(--secondary-font);
        margin-bottom: 15px;
        text-transform: uppercase;
    }
    p {
        font-size: 20px;
        text-transform: uppercase;
    }
    a {
        padding: 35px;
        transition: 0.5s all ease-in-out;
    }
    a:hover {
        background-color: var(--color-orange);
    }
}

.banner {
    margin: 40px 0;
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media (min-width: 1600px) {
    .project__header {
        div {
            max-width: none;
        }
    }
}
@media (max-width: 800px) {
    .project__header {
        h2 {
            font-size: 40px;
        }
    }
}
@media (max-width: 600px) {
    .project__header {
        flex-direction: column-reverse;
        gap: 10px;
        align-items: flex-start;
        h2 {
            font-size: 30px;
        }
        a {
            margin-left: auto;
            padding: 0;
            img {
                width: 40px;
            }
        }
    }
}