.work__filter {
    font-size: 20px;
    text-align: left;
    a {
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        padding: 0 5px;
    }
    a:hover {
        color: var(--color-orange) !important;
    }
}