.about__container {
	padding: 60px 120px;
	height: auto;
	position: relative;

	.background_img {
		z-index: -1;
		position: absolute;
		min-height: 100vh;
		height: -webkit-fill-available;
		width: 100%;
		object-fit: cover;
		top: 0;
		left: 0;
		right: 0;
	}

    main {
        margin: 80px 0 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        div {
            max-width: 620px;
            text-align: justify;
            h1 {
                font-family: var(--secondary-font);
                text-transform: uppercase;
                font-size: 64px;
            }
            p {
                margin: 20px 0 70px;
            }
            button {
                display: flex;
                gap: 15px;
                padding-bottom: 10px;
                border-bottom: 2px solid var(--color-black);
                transition: 0.5s all ease-in-out;
            }
            button:hover {
                opacity: 0.5;
            }
        }
    }
}

@media (min-width: 1440px) {
    .about__container {
		margin: 0 auto;
		max-width: var(--max-width-screen);
	}
}
@media (min-width: 1600px) {
    .about__container {
		margin: 60px auto;
	}
}
@media (max-width: 1260px) {
    .main__container {
		flex-direction: column;
		gap: 80px;
	}
	.left__container {
		max-width: none;
		h1 {
			font-size: 60px;
			text-align: center;
		}
		h4 {
			font-size: 20px;
			text-align: center;
		}
		.buttons__container {
			justify-content: center;
		}
	}
}
@media (max-width: 700px) {
	.about__container {
		padding: 50px;
	}
	.left__container {
		h1 {
			font-size: 50px;
		}
		h4 {
			font-size: 16px;
		}
		.buttons__container {
			gap: 40px;
		}
	}
	.right__container {
		display: none;
	}
}
@media (max-width: 500px) {
	.about__container {
		padding: 40px 20px;
	}
	.main__container {
		margin-top: 50px;
	}
	.left__container {
		h1 {
			font-size: 30px;
		}
		h4 {
			font-size: 16px;
		}
		.buttons__container {
			justify-content: flex-start;
			flex-direction: column;
			gap: 0;
		}
	}
}