.about__container {
	padding: 60px 120px;
	height: auto;
	position: relative;

	.background_img {
		z-index: -1;
		position: absolute;
		min-height: 100vh;
		height: -webkit-fill-available;
		width: 100%;
		object-fit: cover;
		top: 0;
		left: 0;
		right: 0;
	}

    main {
        margin: 80px 0 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
		gap: 50px;
        
        div {
            max-width: 620px;
            text-align: justify;
            h1 {
                font-family: var(--secondary-font);
                text-transform: uppercase;
                font-size: 64px;
            }
            p {
                margin: 20px 0 70px;
            }
            button {
                display: flex;
				align-items: center;
                gap: 15px;
                transition: 0.5s all ease-in-out;

				span {
					padding-bottom: 5px;
					border-bottom: 2px solid var(--color-black);
				}
            }
            button:hover {
                opacity: 0.5;
            }
			.resume_container {
				display: flex;
				gap: 50px;
			}
        }
    }
}

@media (min-width: 1440px) {
    .about__main_content {
		margin: 0 auto;
		max-width: var(--max-width-screen);
	}
	.about__container {
		main {
			justify-content: center;
			gap: 100px;
		}
	}
}
@media (min-width: 1600px) {
    .about__container {
		padding: 120px 120px;
	}
}
@media (max-width: 1070px) {
    .about__container {
		main {
			flex-direction: column;
		}
	}
}
@media (max-width: 700px) {
	.about__container {
		padding: 50px;
		main {
			div{
				h1 {
					font-size: 50px;
				}
			}
			img {
				height: auto;
				width: 100%;
				object-fit: cover;
			}
		}
	}
}
@media (max-width: 500px) {
	.about__container {
		padding: 40px 20px;
		main {
			margin-top: 50px;
			div{
				h1 {
					font-size: 30px;
				}
			}
		}
	}
}