.contact__container {
	padding: 60px 120px;
	height: auto;
	position: relative;

	.background_img {
		z-index: -1;
		position: absolute;
		min-height: 100vh;
		height: -webkit-fill-available;
		width: 100%;
		object-fit: cover;
		top: 0;
		left: 0;
		right: 0;
	}

    main {
        margin: 80px 150px 50px;
        .content__container {
            margin-top: 40px;
            display: flex;
            justify-content: space-between;
            gap: 100px;
        }
        h1 {
            font-family: var(--secondary-font);
            text-transform: uppercase;
            font-size: 64px;
        }
        h4 {
            text-transform: uppercase;
            font-size: 24px;
            margin-bottom: 20px;
        }
        .mail__container {
            font-size: 16px;
            a {
                position: relative;
                padding-bottom: 10px;
            }
            a::after {
                content: '';
                position: absolute;
                width: 100%;
                transform: scaleX(0);
                border-radius: 5px;
                height: 2px;
                bottom: 0;
                left: 0;
                background: currentcolor;
                transform-origin: bottom right;
                transition: transform 0.5s ease-out;
            }
            a:hover::after {
                transform: scaleX(1);
                transform-origin: bottom left;
            }
        }
        .link__container {
            display: flex;
            gap: 50px;
            button {
                display: flex;
                gap: 15px;
                padding-bottom: 10px;
                position: relative;
                font-size: 16px;
            }
            button::after {
                content: '';
                position: absolute;
                width: 100%;
                transform: scaleX(0);
                border-radius: 5px;
                height: 2px;
                bottom: 0;
                left: 0;
                background: currentcolor;
                transform-origin: bottom right;
                transition: transform 0.5s ease-out;
            }
            button:hover::after {
                transform: scaleX(1);
                transform-origin: bottom left;
            }
        }
    }
}

@media (min-width: 1440px) {
    .contact__main_content {
		margin: 0 auto;
		max-width: var(--max-width-screen);
	}
}
@media (min-width: 1600px) {
    .contact__container {
		padding: 120px 0;
	}
}
@media (max-width: 1250px) {
    .contact__container {
        main {
            margin: 80px 0 150px;
            .content__container {
                gap: 50px;
            }
        }
	}
}
@media (max-width: 850px) {
	.contact__container {
		padding: 50px;
		main {
            h1 {
                font-size: 50px;
            }
            .content__container {
                flex-direction: column;
            }
		}
	}
}
@media (max-width: 500px) {
	.contact__container {
		padding: 40px 20px;
		main {
			margin-top: 50px;
            h1 {
                font-size: 30px;
            }
            .link__container {
                flex-direction: column;
                gap: 10px;
                width: fit-content;
            }
		}
	}
}