:root {
--color-orange: #F44D00;
--color-yellow: #FCB92B;
--color-green: #41B87B;
--color-blue: #4475FA;
--color-purple: #AE58C2;
--color-black: #1D1D1D;
--color-white: #F3F2F9;
--color-white-bg: #E7E6ED;
--color-gray: #CECECE;
--color-spurt-highlight: #F0F3E7;


/* Fonts */
--primary-font: 'Roboto Mono', sans-serif;
--secondary-font: 'Druk', sans-serif;
--tertiary-font:  'DM Sans', sans-serif;
--title-desktop: 80px;
--body-font-size-desktop: 16px;
--body-font-size-mobile: 14px;

/* sizes */
--max-width-screen: 1440px;
}

@font-face {
    font-family: 'Druk';
    src: url(../public/fonts/Druk.otf);
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html,
body {
	scroll-behavior: smooth;
	margin: 0 auto;
	font-family: var(--primary-font);
	font-size: var(--body-font-size-desktop);
	color: var(--color-black);
}
a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}
button {
	font-family: var(--primary-font);
	font-size: var(--body-font-size-desktop);
	border: none;
	background-color: transparent;
	cursor: pointer;
}

