.home__container {
	padding: 60px 120px;
	height: 100vh;
	// max-width: var(--max-width-screen);

	.background_img {
		z-index: -1;
		position: absolute;
		height: auto;
		width: 100vw;
		object-fit: cover;
		top: 0;
		left: 0;
	}
}

.main__container {
	margin-top: 100px;
	display: flex;
	align-items: center;
    justify-content: space-between;
}

.left__container {
	max-width: 570px;
	h1 {
		text-transform: uppercase;
		font-size: 80px;
		font-family: var(--secondary-font);
	}
	h4 {
		text-transform: uppercase;
		font-size: 22px;
		margin-top: 10px;
		font-weight: 400;
	}
	.buttons__container {
		margin-top: 60px;
		display: flex;
		align-items: center;
		gap: 100px;
		button {
			display: flex;
			align-items: center;
			gap: 15px;
			padding-bottom: 10px;
			border-bottom: 2px solid transparent;
			transition: 0.5s all ease-in;
		}
		button:hover {
			border-bottom: 2px solid var(--color-black);
		}
	}
}

.right__container {
	// width: 50%;
	// background-color: gray;
}
