.home__container {
	padding: 60px 120px;
	height: auto;
	position: relative;

	.background_img {
		z-index: -1;
		position: absolute;
		min-height: 100vh;
		height: -webkit-fill-available;
		width: 100%;
		object-fit: cover;
		top: 0;
		left: 0;
		right: 0;
	}
}

.main__container {
	margin-top: 100px;
	display: flex;
	align-items: center;
    justify-content: space-between;
}

.left__container {
	max-width: 570px;
	h1 {
		text-transform: uppercase;
		font-size: 80px;
		font-family: var(--secondary-font);
	}
	h4 {
		text-transform: uppercase;
		font-size: 22px;
		margin-top: 10px;
		font-weight: 400;
	}
	.buttons__container {
		margin-top: 60px;
		display: flex;
		align-items: center;
		gap: 100px;
		a {
			display: flex;
			align-items: center;
			gap: 15px;
			padding-bottom: 10px;
			position: relative;
		}
		a::after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            border-radius: 5px;
            height: 2px;
            bottom: 0;
            left: 0;
            background: currentcolor;
            transform-origin: bottom right;
            transition: transform 0.5s ease-out;
        }
        a:hover::after {
            transform: scaleX(1);
            transform-origin: bottom left;
        }
	}
}

@media (min-width: 1440px) {
    .home__main_content {
		margin: 0 auto;
		max-width: var(--max-width-screen);
	}
}
@media (min-width: 1600px) {
    .home__container {
		padding: 120px 120px;
	}
}
@media (max-width: 1260px) {
    .main__container {
		flex-direction: column;
		gap: 80px;
	}
	.left__container {
		max-width: none;
		h1 {
			font-size: 60px;
			text-align: center;
		}
		h4 {
			font-size: 20px;
			text-align: center;
		}
		.buttons__container {
			justify-content: center;
		}
	}
}
@media (max-width: 700px) {
	.home__container {
		padding: 50px;
	}
	.left__container {
		h1 {
			font-size: 50px;
		}
		h4 {
			font-size: 16px;
		}
		.buttons__container {
			gap: 40px;
		}
	}
	.right__container {
		display: none;
	}
}
@media (max-width: 500px) {
	.home__container {
		padding: 40px 20px;
	}
	.main__container {
		margin-top: 50px;
	}
	.left__container {
		h1 {
			font-size: 30px;
		}
		h4 {
			font-size: 16px;
		}
		.buttons__container {
			justify-content: flex-start;
			flex-direction: column;
			gap: 0;
		}
	}
}