.work_details__container {
	padding: 60px 220px;
	height: auto;
	position: relative;

	.background_img {
		z-index: -1;
		position: absolute;
		// min-height: 100vh;
		height: -webkit-fill-available;
		width: 100%;
		object-fit: cover;
		top: 0;
		left: 0;
		right: 0;
	}
}

@media (min-width: 1440px) {
    .work_details__container {
		margin: 0 auto;
		max-width: var(--max-width-screen);
	}
}
@media (min-width: 1600px) {
    .work_details__container {
		// margin: 60px auto;
		padding: 120px 120px;
	}
}
@media (max-width: 1260px) {

}
@media (max-width: 700px) {
	.work_details__container {
		padding: 50px;
	}
}
@media (max-width: 500px) {
	.work_details__container {
		padding: 40px 20px;
	}
}
