.work_details__container {
	// padding: 100px 120px;
	height: auto;
	position: relative;

	.background_img {
		z-index: -1;
		position: absolute;
		min-height: 100vh;
		height: -webkit-fill-available;
		width: 100%;
		object-fit: cover;
		top: 0;
		left: 0;
		right: 0;
	}
}
.work_details__main_container{
	padding: 100px 120px;
}
.footer__container {
	max-width: var(--max-width-screen);
	margin: 0 auto;
}

@media (min-width: 1440px) {
    .work_details__main_container {
		margin: 0 auto;
		max-width: var(--max-width-screen);
	}
}
@media (min-width: 1600px) {
    .work_details__main_container {
		padding: 120px 0;
	}
}
@media (max-width: 1024px) {
	.work_details__main_container {
		padding: 100px 100px;
	}
}
@media (max-width: 700px) {
	.work_details__main_container {
		padding: 50px;
	}
}
@media (max-width: 500px) {
	.work_details__main_container {
		padding: 40px 20px;
	}
}
