.work__container {
	height: auto;
	position: relative;

	.background_img {
		z-index: -1;
		position: absolute;
		// min-height: 100vh;
		height: -webkit-fill-available;
		width: 100%;
		object-fit: cover;
		top: 0;
		left: 0;
		right: 0;
	}
}
.main__container {
	margin: 0 120px;
}
.filter__section {
    margin: 0 120px 70px;
	padding-top: 40px;
    h2 {
        font-size: 64px;
        font-family: var(--secondary-font);
    }
}

@media (min-width: 1440px) {
	.main__container {
		margin: 0 auto 70px;
		max-width: var(--max-width-screen);
	}
	.filter__section {
		margin: 0 auto 70px;
		max-width: var(--max-width-screen);
	}
}
@media (max-width: 1600px) {
	.main__container {
		margin: 0 120px;
	}
	.filter__section {
		margin: 0 120px 70px;
	}
}
@media (min-width: 1601px) {
    .footer__container {
		max-width: var(--max-width-screen);
		margin: 0 auto;
	}
}
@media (max-width: 700px) {
	.main__container {
		margin: 0 50px;
		h2 {
			font-size: 50px;
		}
	}
	.filter__section {
		margin: 0 50px 50px;
	}
}
@media (max-width: 500px) {
	.main__container {
		margin: 0 20px;
	}
	.filter__section {
		margin: 50px 20px 30px;
		h2 {
			font-size: 30px;
		}
	}
}