
.problem__container,
.user_persona__container,
.solution__container,
.architecture__container,
.branding__container,
.features__container {
    margin-top: 90px;

    h4 {
        font-size: 20px;
        margin-bottom: 15px;
    }
}

.link__out {
    padding: 13px 30px;
    background-color: var(--color-gray);
    display: flex;
    align-items: center;
    gap: 15px;
    width: fit-content;
    transition: 0.5s all ease-in-out;
    margin-top: 30px;
}
.link__out:hover {
    background-color: var(--color-orange);
}

.solution__container {
    display: flex;
    justify-content: space-between;
    div {
        max-width: 50%;
    }
}

.architecture__container {
    img {
        margin-top: 25px;
        height: 580px;
        width: 100%;
    }
}

.features__container {
    h4 {
        margin-bottom: 0;
    }
    .features__content {
        display: flex;
        justify-content: space-between;
    }
    .features__items {
        width: 45%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .item__details {
        display: flex;
        align-items: center;
        padding: 23px;
        gap: 20px;
        cursor: pointer;
        transition: 0.5s all ease-in-out;
        h2 {
            font-size: 64px;
            font-family: var(--secondary-font);
            min-width: 65px;
            text-align: center;
        }
        p:first-of-type {
            font-weight: bold;
        }
    }
    .item__details:hover {
        background-color: var(--color-white-bg) !important;
    }
}

@media (min-width: 1600px) {
    .architecture__container {
        img {
            height: 800px;
            object-fit: cover;
        }
    }
}
@media (max-width: 1300px) {
    .solution__container {
        flex-direction: column;
        gap: 30px;
        div {
            max-width: none;
        }
        img {
            margin: 0 auto;
        }
    }
    .architecture__container {
        img {
            height: 450px;
        }
    }
    .features__container {
        .features__content {
            flex-direction: column;
            gap: 30px;
        }
        .features__items {
            width: 60%;
        }
        img {
            margin: 0 auto;
        }
    }
}
@media (max-width: 850px) {
    .solution__container {
        img {
            width: 100%;
        }
    }
    .architecture__container{
        img {
            height: auto;
        }
    }
    .features__container {
        .features__content {
            img {
                width: 100%;
            }
        }
        .features__items {
            width: 100%;
        }
    }
}